* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'PT Sans', sans-serif;
    

}
.hamburger {
    display: none;
    height: 30px;
    width: 40px;
    margin: 0px;
}
.hamburger-menu {
    display: none;
}
.bar {
    background-color: white;
    height: 2px;
    width: 30px;
    margin: 5px;

}
.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.hero {
    background-image: url("photos/canyon-1740973_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: 15% 25%;
}

.top-bar {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 18%);
    height: 80px;
    padding: 0 15px;
}
.top-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    margin: 0;
    padding: 0;

}

h1 {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 2em;
    color: white;
    font-weight: 400;

}
h1:hover {
    color: purple;
}

.top-nav {
    font-family:'PT Sans', sans-serif; 
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}

.top-nav a {
    text-decoration: none; 
    color: white;
    padding: 20px;
}

.top-nav a:hover {
    color: rgb(184, 84, 184);
}

.wrapper-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 200px 200px 200px;
}

.welcome {
    background-color:rgba(0, 0, 0, 0.8);
    grid-column: 2;
    grid-row: 2;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.welcome p {
    padding: 20px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cta-btn {
    background-color: rgb(94, 0, 94);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    width: 150px;
}

.cta-btn:hover {
    background-color: rgb(58, 2, 58);
}
a {
    text-decoration: none;
    color: white;
}

.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;

}

#about-text-section {
    width: 450px;
    color: white;
    text-align: left;
    padding: 10px;
}

img {
    margin-top: 60px;
    
    border: solid white;
}

.box-section {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: 200px 200px;
    text-align: center;
    grid-column-gap: 5%;
    font-size: 1.3em;
}

h4 {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

a:hover {
    color: rgb(184, 84, 184);
}
h4:hover {
    color: rgb(184, 84, 184);
}

footer {
    background-color: black;
    color: white;
}

.bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-family:'PT Sans', sans-serif;
}

h3 {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 400;
    font-size: 1.5em;
}
/* Portfolio page specifics */ 

.background {
    background-image:url("photos/forest-438432_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.portfolio-container {
    background-color:rgba(0, 0, 0, 0.8);
    color: white;
    margin: 70px auto;
    padding: 20px 40px;
    border-radius: 30px;    

}

.sub-p {
    text-align: left;
}
.hl {
    height: 50px;
    background-color: rgb(105, 25, 105);
}
.hl-2 {
    height: 20px;
    background-color: rgb(105, 25, 105);
}

.sub-img-about {
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.sub-img {
    margin-top: 10px;
}

#portfolio-title {
    text-align: center;
    color: white;
}

p {
    color: white;
}

#comingSoon {
    text-align: center;
}

#rummage {
    color: white;
    
}

.underline {
    text-decoration:underline;
    font-weight: bold;
    color:rgb(145, 65, 145);
}

.sub-titles {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}
.photos {
    width: 350px;
}
#naturistic {
    padding: 30px 15px;
}

.development {
    font-size: 1.8em;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: white;

}
h2 {
    color: white;
}
.contact-div {
    display: none;
    
}
.contact-div p {
    color:white;
}
a {
    cursor: pointer;
}
/*
Make it responsive!

*/

@media only screen and (max-width: 1130px) {
    .wrapper {
        max-width: 768px;
        width: 100%;
        margin: 0px auto;
        padding: 0px;

    }
    .wrapper-grid {
        grid-template-columns:auto;
    }
    .portfolio-container {
        margin: 70px auto;
        padding: 20px;
        margin-left: 10px;
        border-radius: 0px;   
    
    }
    .sub-img-about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
    }
    img {
        width: 100%;
        margin: 0px;
        padding: 0px;

    }

    h2 {
        text-align: center;
        text-decoration: underline;
    }
    .sub-p {
        margin: 10px;
    }
    .sub-titles {
        text-align: center;
        font-size: 24px;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger-menu {
        display: block;
        position: absolute;
        width: 300px;
        height: 100%;
        flex-direction: row;
        background-color:black;
        color: white;
        padding: 20px;
        margin: 0px;
        text-align: center;
        transition: 0.4s;
        top: 70px;
        right: 0px;
    
    }
    .toggle {
        height: 0px;
        width: 0px;
        background-color: transparent;
        font-size: 0px;
    }
    
    .navigation {
        display: none;
    }
    .contact-btn {
        display: block;
    }
    .contact-div {
        display: none;
        font-size: 10px;
    }
    .items {
        margin: 30px;
        display: block;
        
    }
    .bar {
        display: block;
    }
    .welcome {
        display: flex;
        flex-direction:column;
        font-size: 12x;
        background-color: transparent;
        text-align: left;
        
    }
    
    #about-text-section {
        width: 100%;

    }
    .about-section{
        width: 100%;
        flex-direction: column;

    }
    .photos {
        width: 100%;
    }
    body {
        grid-auto-flow: column;
    }

}

